.App {
  text-align: center;
}

#name {
    font-size: 50px;
}

.link-div .bio-link {
    margin: 5px;
    text-decoration: none;
    color: black;
}

.link-div .bio-link:hover {
    color: turquoise;
}