.App {
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;

    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
     } 
} 

#name-div {
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-family: 'Courier New', Courier, monospace;
}

#name {
    font-size: 50px;
}

#title {
    font-size: 20px;
}

#bio-container {
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
}

.education-div {
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

.education-div p {
    text-align: left;
    margin-left: 5px;
}

#degree {
    margin-bottom: 5px;
}

.link-container {
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.link-icon-div {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5px;
}

.link-icon-div div {
    display: flex;
    flex-direction: column;
}

.link-div {
    margin-left: 5px;
}

.bio-link {
    margin-top: 12px;
    margin-right: 15px;
    text-decoration: none;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

.bio-link:hover {
    text-decoration: underline;
}

.link-div a {
    text-align: right;
}

@media (max-width: 330px) {
    .link-container {
        margin-left: 10px;
    }

    .bio-link {
        font-size: 15px;
        width: 75px;
        text-decoration: underline;
    }

    #github {
        margin-top: 14px;
    }
    #linkedin {
        margin-top: 0px;
    }

    .icon-div .fa-github-square {
        margin-top: 0px;
    }
    .icon-div .fa-linkedin-square {
        margin-top: 4px;
    }

    .education-div {
        font-size: 15px;
    }
}